.newEntryForm__button--create {
  width: 50%;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  padding: 18px 40px 18px 40px;
  border: 1px solid var(--color-nemo);
  border-radius: 5px;
  font-weight: 550;
  font-size: 20px;
  letter-spacing: 0.5px;
  align-self: center;
}
