.entry {
  width: 100%;
}

.entry__date {
  line-height: inherit;
  font-weight: 600;
}

.entry__heading {
  box-sizing: content-box;
  font-size: 18px;
  text-align: left;
  margin: 32px 0;
}

.entry__text {
  text-align: left;
  margin: 32px 0;
}

.entry__divider {
  border: none;
  border-top: 1px solid var(--color-water-10);
}
