/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
  border-radius: 50px;
  border: solid 5px black;
}

.button2 {
  /*Style me! Change my color, or my background-color. Or both! You can test out different color modes here - like HEX, RGB, ... */
  background-color: purple;
  color: white;
  border: solid 5px black;
}

.button3 {
  /*Style me! You can test out changing the font, or font size, ...*/
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.button4 {
  /*Style me! Can you add a shadow to this button? Maybe play around with the shadow properties, as well? You can even color the shadow, make it bigger or smaller, ... */
  box-shadow: 10px 25px 5px red;
  text-shadow: 10px 5px 5px green;
}

/* Feel free to play around with other properties, as well. */
